.puzzle {
  --puzzle-columns: 1;
  --puzzle-rows: 1;
  --puzzle-max-width: 100px;
  --puzzle-max-height: 100px;
  --puzzle-cell-size: calc(min(var(--puzzle-max-height), var(--puzzle-max-width)) / var(--puzzle-columns));

  display: grid;
  gap: calc(var(--puzzle-cell-size) * 0.05);
  grid-template-columns: repeat(var(--puzzle-columns), var(--puzzle-cell-size));
  grid-template-rows: repeat(var(--puzzle-rows), var(--puzzle-cell-size));
}

.menu {
  display: flex;
  gap: .25rem;
  margin-bottom: 10px;
}

.button {
  padding: .375rem .75rem;
  background-color: #587498;
  color: white;
  border: 1px solid #587498;
  border-radius: 4px;
  cursor: pointer;
}
